/*
  Grey text color : #5f616b
*/

body {
	font-family: 'Lato', sans-serif;
  background-color: #fbfbfb;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* navbar menu */
#navbar-menu .tab {
  display: block;
  width: 100%;
  height: 100%;
}

#navbar-menu .tab .tab-item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#navbar-menu .tab .tab-item:hover:not(.active) {
  cursor: pointer;
}

#navbar-menu .tab .tab-item .tab-text {
  padding-left: 20px;
  width: 100%;
}

#navbar-menu .tab .tab-item .tab-text-right {
  font-weight: 200;
  color: #5f616b;
  margin-right: 20px;
}

#navbar-menu .tab .active {
  border-top: 3px solid #3b305d;
  box-shadow: 0 7px 12px -7px rgba(148,167,237,.84);
}

.pick-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
}

.pick-menu {
  max-width: 800px;
}

@media screen and (max-width: 1000px) {
  .pick-menu {
    max-width: 70%;
    margin-left: 20px;
  }
  #app {
    align-items: flex-start;
  }
}

.pick-menu .pick-submenu {
  margin: 20px 10px 20px 50px;
  display: flex;
  align-items: center;
}

.pick-menu .pick-title {
  color: #5f616b;
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 30px;
}

.pick-menu .pick-little-title {
  color: #5f616b;
  font-weight: 100;
}

.pick-menu .check-container {
  color: #5f616b;
}

.pick-menu .pick-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.pick-menu .pick-list>.element {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.06);
  padding: 50px 80px;
  margin: 10px 20px 20px 20px;
  text-align: center;
}

.pick-menu .pick-list>.element:hover {
  cursor: pointer;
}

.pick-menu .pick-list>.piano {
  color: #2f9da6;
}

.pick-menu .pick-list>.piano:hover {
  border: 1.5px solid #2f9da6;
}

.pick-menu .pick-list>.element>.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  fill: #2f9da6;
  stroke: #2f9da6;
}

.pick-menu .pick-little-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 50px;
}

.pick-menu .pick-little-list>.element {
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.06);
  padding: 10px 19px;
  margin: 3px 7px 7px 7px;
  text-align: center;
}

.pick-menu .pick-little-list>.element:hover {
  cursor: pointer;
  border: 1px solid #5f616b;
}

.pick-menu .pick-little-list>.element:checked {
  background-color: #5f616b;
}

#pick-difficulty {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#pick-difficulty .select-menu {
  margin-left: 30px;
}

#pick-difficulty .difficulty-menu {
  display: flex;
  flex-direction: column;
}

#pick-difficulty .adv-setup {
  border-left: 1px solid #e2ebf3;
  border-bottom: 1px solid #e2ebf3;
  padding-bottom: 30px;
}

#pick-difficulty .adv-setup #adv-continue-btn {
  position: relative;
  float: right;
  background: #ffffff;
  border-radius: 6px;
  padding: 5px 5px 0px 5px;
  border: 2px solid #e2ebf3;
  cursor: pointer;
}

#pick-difficulty .adv-setup #adv-continue-btn svg {
  width: 30px;
  height: 30px;
}

#pick-difficulty .easy-setup {
  border-left: 1px solid #e2ebf3;
  border-bottom: 1px solid #e2ebf3;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100px;
}

#pick-difficulty .easy-setup p {
  min-width: 80px;
  margin-left: 50px;
}

#pick-difficulty .pick-list {
  width: 100%;
}

#pick-difficulty p {
  color: #5f616b;
  font-size: 18px;
}

#pick-difficulty .submenu-text {
  color: #5f616b;
  font-size: 18px;
}

.array-picker {
  display: flex;
  flex-flow: row wrap;
}

.array-picker .array-picker-container {
  margin: 20px 0px 30px 0px;
}

.array-picker .item {
  padding: 15px 30px 15px 30px;
  margin-top: 20px;
  text-align: center;
  margin-left: 5px;
  background-color: #f0eff3;
  transition: all 200ms linear;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  color: #5f616b;
}

.array-picker .item:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.array-picker input:checked ~ label {
  background-color: #87A7FF;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.array-picker input[type="checkbox"] {
  visibility: hidden;
  width: 0px;
}

.scale-container {
  display: flex;
  flex-flow: column nowrap;
}

.scale-container .array-picker-container {

}

.scale-container .category-title {
  margin: 20px 0px 30px 30px;
}

.scale-container .array-picker {
  margin-bottom: 50px;
}

#timesig-picker {
  margin-bottom: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e2ebf3;
}

.difficulty-menu {
  width: 70%;
  max-width: 70%;
}

.level-description {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  height: 100%;
  min-width: 20%;

  padding: 100px 20px 0px 30px;
}

.level-description .leap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.level-description .leap .description-text {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.level-description .description-title {
  font-weight: 300;
  margin-bottom: 20px;
}
